{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block content %}
<div height="100%">
    <div class="">
        <h1 class="text-center">Welcome {{user.username}}</h1>
        <h3 class="text-center mt-3">Your posts</h1>
        <div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action active">
                    Posts
                </li>
                {% for item in post%}
                <a href="{% url 'detail' item.id %}" class="list-group-item d-flex justify-content-between align-items-center">{{item.title}}
                    <span class="badge badge-primary badge-pill">{{item.timestamp}}</span>
                </a>
                {%endfor%}
              </ul>
        </div>
    </div>
</div>
    {% endblock %}
